<template>
  <doughnut-chart
    ref="chart"
    v-if="showLine"
    :data="alocacaoDeCarteira"
    :options="options"
  ></doughnut-chart>
</template>

<script>
export default {
  props: {
    produtos: Object()
  },
  data() {
    return {
      showLine: false,
      options: {
        elements: {
          center: {
            text: '90%',
            color: '#FF6384', // Default is #000000
            fontStyle: 'Arial', // Default is Arial
            sidePadding: 20 // Defualt is 20 (as a percentage)
          }
        },
        title: {
          display: true,
          text: 'Distribuição da Carteira',
          fontFamily: "'Roboto', sans-serif",
          fontSize: '32',
          fontColor: 'white'
        },
        legend: {
          labels: {
            fontSize: 15
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          callbacks: {
            label: (tooltipItem, data) => {
              return this.produtos[tooltipItem.index].produto.simbolo
            },
            afterLabel(tooltipItem, data) {
              const dataset = data.datasets[tooltipItem.datasetIndex]
              const total = dataset.data.reduce(function(
                previousValue,
                currentValue,
                currentIndex,
                array
              ) {
                return parseInt(previousValue) + parseInt(currentValue)
              })
              const currentValue = dataset.data[tooltipItem.index]
              const percentage = Math.floor((currentValue / total) * 100 + 0.5)
              return ['R$ ' + currentValue, percentage + '%']
            }
          }
        },
        animation: {
          onComplete: () => {
            /*const chart = this.getChart
            const canvas = this.getChart.$refs.canvas
            console.log(chart)
            console.log(canvas)
            const ctx = canvas.getContext('2d')
            console.log(canvas.innerRadius)
            const width = chart.width
            const height = chart.height

            const fontSize = (height / 114).toFixed(2)
            ctx.font = fontSize + 'em Verdana'
            ctx.textBaseline = 'middle'

            const text = '82%'
            const textX = width - ctx.measureText(text).width / 2
            const textY = height / 2

            ctx.fillText(text, textX, textY)*/
          }
        }
      }
    }
  },
  computed: {
    getProdutos() {
      return this.produtos
    },
    getChart() {
      return this.$refs.chart
    },
    alocacaoDeCarteira() {
      const colorsArray = [
        'rgb(85, 54, 122)',
        'rgb(133, 53, 122)',
        'rgb(182, 51, 121)',
        'rgb(0, 133, 114)',
        'rgb(0, 116, 165)',
        'rgb(0, 67, 130)'
      ]
      const data = {
        labels: [],
        datasets: [
          {
            label: 'Swing Trade',
            data: [],
            backgroundColor: [],
            borderColor: [],
            borderWidth: 1
          }
        ]
      }
      this.produtos.forEach((produto, index) => {
        //data.labels.push(produto.produto.simbolo)
        data.datasets[0].data.push(
          (produto.precoMedio * produto.quantidadeAtual).toFixed(2)
        )
        data.datasets[0].backgroundColor.push(
          colorsArray[index % colorsArray.length]
        )
        data.datasets[0].borderColor.push(
          colorsArray[index % colorsArray.length]
        )
        data.datasets[0].borderWidth = 1
      })

      return data
    }
  },
  mounted() {
    this.showLine = true
  }
}
</script>

<style></style>
