<template>
  <line-chart v-if="showLine" :data="data" :options="options"></line-chart>
</template>

<script>
export default {
  props: {
    cotacoes: Object()
  },
  data() {
    return {
      showLine: false,
      options: {
        hover: {
          animationDuration: 0
        },
        animation: {
          duration: 0 // general animation time
        },
        title: {
          display: true,
          text: ['SUZB3'],
          fontFamily: "'Roboto', sans-serif",
          fontSize: '32',
          fontColor: 'white'
        },
        legend: {
          labels: {
            fontSize: 15
          }
        },
        elements: {
          line: {
            tension: 0 // disables bezier curves
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          intersect: false,
          custom(tooltip) {
            return (tooltip.displayColors = false)
          },
          callbacks: {
            title: (tooltipItem, data) => {
              return this.$moment(
                this.cotacoes[tooltipItem[0].index].data
              ).format('YYYY-MMM-DD')
            },
            afterLabel: (tooltipItem, data) => {
              const cotacao = this.cotacoes[tooltipItem.index]
              console.log('after: ' + this.cotacoes[tooltipItem.index].data)
              return [
                'Ult. R$ ' + cotacao.ultimo.toFixed(2),
                'Max. R$ ' + cotacao.maxima.toFixed(2),
                'Min. R$ ' + cotacao.minima.toFixed(2)
              ]
            }
          }
        },
        scales: {
          xAxes: [
            {
              gridLines: {
                display: false
              },
              ticks: {
                autoSkip: false
              }
            }
          ]
        }
      }
    }
  },
  computed: {
    data() {
      const chartData = {
        labels: [],
        datasets: [
          {
            label: 'IBOV',
            data: [],
            backgroundColor: 'transparent',
            borderColor: 'rgb(130,61,190)',
            pointBackgroundColor: 'transparent',
            pointBorderColor: 'transparent',
            borderWidth: 2
          }
        ]
      }
      const monthsAlreadyUsed = []
      this.cotacoes.forEach((cotacao, index) => {
        const label = this.$moment(cotacao.data).format('MMM YYYY')
        if (!monthsAlreadyUsed.includes(label)) {
          chartData.labels.push(this.$moment(cotacao.data).format('MMM YYYY'))
          monthsAlreadyUsed.push(label)
        } else {
          chartData.labels.push('')
        }
        chartData.datasets[0].data.push(cotacao.ultimo.toFixed(2))
      })
      return chartData
    }
  },
  mounted() {
    this.showLine = true
  }
}
</script>

<style scoped></style>
