<template>
  <line-chart v-if="showLine" :data="data" :options="options"></line-chart>
</template>

<script>
export default {
  props: {
    indicesIbovespa: Object()
  },
  data() {
    return {
      showLine: false,
      options: {
        hover: {
          animationDuration: 0
        },
        animation: {
          duration: 0 // general animation time
        },
        title: {
          display: true,
          text: ['IBOV'],
          fontFamily: "'Roboto', sans-serif",
          fontSize: '32',
          fontColor: 'white'
        },
        legend: {
          labels: {
            fontSize: 15
          }
        },
        elements: {
          line: {
            tension: 0 // disables bezier curves
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          intersect: false,
          custom(tooltip) {
            return (tooltip.displayColors = false)
          },
          callbacks: {
            title: (tooltipItem, data) => {
              return this.$moment(
                this.indicesIbovespa[tooltipItem[0].index].data
              ).format('DD MMM YYYY')
            },
            label: (tooltipItem, data) => {
              return (
                'Var. ' + this.indicesIbovespa[tooltipItem.index].var + ' %'
              )
            },
            afterLabel: (tooltipItem, data) => {
              const indiceIbovespa = this.indicesIbovespa[tooltipItem.index]

              return [
                'Ult. R$ ' + indiceIbovespa.ultimo.toFixed(2),
                'Max. R$ ' + indiceIbovespa.maxima.toFixed(2),
                'Min. R$ ' + indiceIbovespa.minima.toFixed(2)
              ]
            }
          }
        },
        scales: {
          xAxes: [
            {
              type: 'time',
              time: {
                parser: 'MMM YYYY'
              },
              scaleLabel: {
                display: true,
                labelString: 'Date'
              },
              ticks: {
                maxRotation: 0
              }
            }
          ],
          yAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: 'value'
              }
            }
          ]
        }
        /*,
        plugins: {
          zoom: {
            pan: {
              enabled: true,
              mode: 'xy'
            },
            zoom: {
              enabled: true,
              mode: 'xy'
            }
          }
        }*/
      }
    }
  },
  computed: {
    data() {
      const chartData = {
        labels: [],
        datasets: [
          {
            label: 'IBOV',
            data: [],
            backgroundColor: 'transparent',
            borderColor: 'rgb(130,61,190)',
            pointBackgroundColor: 'transparent',
            pointBorderColor: 'transparent',
            borderWidth: 2
          }
        ]
      }
      this.indicesIbovespa.forEach((indiceIbovespa, index) => {
        console.log(this.$moment(indiceIbovespa.data).format('MMM YYYY'))
        chartData.datasets[0].data.push({
          x: this.$moment(indiceIbovespa.data),
          y: indiceIbovespa.soma_variacao.toFixed(2)
        })
      })
      return chartData
    }
  },
  mounted() {
    this.showLine = true
  }
}
</script>

<style scoped></style>
