<template>
  <bar-chart
    v-if="showLine"
    :data="resultadosSwingEDayTrade"
    :options="options"
  ></bar-chart>
</template>

<script>
export default {
  props: {
    swingTradeData: Object(),
    dayTradeData: Object()
  },
  data() {
    return {
      showLine: false,
      options: {
        title: {
          display: true,
          text: ['Lucro / Prejuízo', 'Swing Trade e Day Trade'],
          fontFamily: "'Roboto', sans-serif",
          fontSize: '32',
          fontColor: 'white'
        },
        legend: {
          labels: {
            fontSize: 15
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [
            {
              gridLines: {
                display: false
              }
            }
          ]
        },
        plugins: {
          zoom: {
            pan: {
              enabled: false
            },
            zoom: {
              enabled: false
            }
          }
        }
      }
    }
  },
  computed: {
    resultadosSwingEDayTrade() {
      const chartData = {
        labels: [],
        datasets: [
          {
            label: 'Swing Trade',
            data: [],
            backgroundColor: [],
            borderColor: [],
            borderWidth: 1
          },
          {
            label: 'Day Trade',
            data: [],
            backgroundColor: [],
            borderColor: [],
            borderWidth: 1
          }
        ]
      }
      this.swingTradeData.forEach((swingTradeResult, index) => {
        chartData.labels.push(
          this.$moment(
            new Date(swingTradeResult.ano, swingTradeResult.mes - 1, 1)
          ).format('MMM YYYY')
        )
        chartData.datasets[0].data.push(
          (swingTradeResult.resultado - swingTradeResult.irpf).toFixed(2)
        )
        chartData.datasets[0].backgroundColor.push('rgb(130, 61, 190)')
        chartData.datasets[0].borderColor.push('rgb(130, 61, 190)')
        chartData.datasets[0].borderWidth = 1
      })

      this.dayTradeData.forEach((dayTradeResult, index) => {
        chartData.datasets[1].data.push(
          (dayTradeResult.resultado - dayTradeResult.irpf).toFixed(2)
        )
        chartData.datasets[1].backgroundColor.push('rgba(255, 99, 132, 1)')
        chartData.datasets[1].borderColor.push('rgba(255, 99, 132, 1)')
        chartData.datasets[1].borderWidth = 1
      })
      return chartData
    }
  },
  mounted() {
    this.showLine = true
  }
}
</script>

<style scoped></style>
