<template>
  <div v-if="getOperacoes.length" class="container">
    <div class="row">
      <div class="col">
        <h1>{{ getOperacoes[0].ativo.produto.simbolo }}</h1>
      </div>
    </div>
    <div v-if="getRetornoSobreInvestimento" class="row rows-col-3">
      <div class="col">
        <resultado-card
          :title="'Investimento'"
          :resultado="getRetornoSobreInvestimento.investimento"
          :type="'currency'"
        ></resultado-card>
      </div>
      <div class="col">
        <resultado-card
          :title="'Resultado Bruto'"
          :resultado="getRetornoSobreInvestimento.resultadoBruto"
          :type="'currency'"
        ></resultado-card>
      </div>
      <div class="col">
        <resultado-card
          :title="'Retorno sobre Investimento'"
          :resultado="getRetornoSobreInvestimento.retornoSobreInvestimento"
          :type="'percentage'"
        ></resultado-card>
      </div>
    </div>
    <div class="row">
      <operacoes :operacoes="getOperacoes"></operacoes>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Operacoes from '~/components/Operacoes.vue'
import ResultadoCard from '~/components/ResultadoCard.vue'
export default {
  components: {
    Operacoes,
    ResultadoCard
  },
  computed: {
    ...mapGetters({
      getOperacoes: 'operacoes/getOperacoes',
      getRetornoSobreInvestimentoDadoUmProduto:
        'resultados/getRetornoSobreInvestimentoDadoUmProduto'
    }),
    getRetornoSobreInvestimento() {
      return this.getRetornoSobreInvestimentoDadoUmProduto(
        this.getOperacoes[0].ativo.produto.simbolo
      )
    }
  },
  async fetch({ store, route }) {
    const carteiraId = route.params.carteiraId
    const produtoId = route.params.id
    console.log(JSON.stringify(route.params))
    if (carteiraId && produtoId) {
      await store.dispatch('operacoes/fetchOperacoes', {
        carteiraId,
        produtoId
      })
    } else if (carteiraId && !produtoId) {
      await store.dispatch('operacoes/fetchOperacoesPorCarteira', carteiraId)
    } else if (!carteiraId && produtoId) {
      await store.dispatch('operacoes/fetchOperacoesPorProduto', produtoId)
    }
    await store.dispatch('resultados/getRetornosSobreInvestimento', carteiraId)
  }
}
</script>

<style scoped>
.container {
  padding: 0px 20px 0px 20px;
  margin: 0 auto;
  background-color: rgb(30, 30, 30);
}
.row {
  margin-bottom: 10px;
}
</style>
