<template>
  <operacao-form></operacao-form>
</template>

<script>
import OperacaoForm from '~/components/OperacaoForm.vue'
export default {
  components: {
    OperacaoForm
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  background-color: rgb(29, 30, 32);
}
</style>
