<template>
  <div
    class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-start mb-lg-4 mb-sm-0"
  >
    <div id="dono-carteira" class="d-flex justify-content-center ml-lg-5 my-4">
      <div class="d-flex flex-column justify-content-center">
        <img id="foto-dono-carteira" src="~/assets/robert.jpg" />
        <div id="info-dono-carteira" class="text-center mt-2">
          Robert Jr.
        </div>
      </div>
    </div>

    <div
      id="resultados-carteira"
      class="d-flex flex-grow-1 justify-content-center mb-5 mb-lg-0"
    >
      <div
        class="d-flex flex-column justify-content text-center mx-auto my-auto"
      >
        <span class="title">Resultado Bruto</span>
        <span class="value">{{
          'R$ ' + resultadosConsolidado[0].resultadoBruto.toFixed(2)
        }}</span>
      </div>
      <div
        class="d-flex flex-column justify-content text-center mx-auto my-auto"
      >
        <span class="title">IRPF Total</span>
        <span class="value">{{
          'R$ ' + -resultadosConsolidado[0].irpfTotal.toFixed(2)
        }}</span>
      </div>
      <div
        class="d-flex flex-column justify-content text-center mx-auto my-auto"
      >
        <span class="title">Resultado Líquido</span>
        <span class="value">{{
          'R$ ' + resultadosConsolidado[0].resultadoLiquido.toFixed(2)
        }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    donoDaCarteira: Object(),
    resultadosConsolidado: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>
#foto-dono-carteira {
  border-radius: 50%;
  border-top: 0px;
  border: 3px solid rgb(57, 35, 86);
  width: 150px;
  height: 150px;
}

#info-dono-carteira {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  width: 150px;
  color: white;
  font-weight: bold;
}

#resultados-carteira {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
}

#resultados-carteira .value {
  color: rgb(218, 74, 189);
  text-shadow: 0px 1px 3px #2c2b2b;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .title {
    font-size: 30px;
  }

  .value {
    font-size: 40px;
  }
}

@media screen and (max-width: 899px) {
  .title {
    font-size: 3vw;
  }

  .value {
    font-size: 4vw;
  }
}
</style>
