<template>
  <div v-if="carteiras" class="container">
    <div class="row mb-4">
      <div :class="columnSize">
        <nova-carteira-button />
      </div>
      <div
        v-if="carteiras[index - 1]"
        v-for="index in columns - 1"
        :key="index"
        :class="columnSize"
      >
        <carteira-card :carteira="carteiras[index - 1]"></carteira-card>
      </div>
    </div>
    <div
      v-for="(row, indiceLinha) in getRows"
      :key="row"
      v-if="row > 1"
      class="row mb-4"
    >
      <div
        v-for="index in columns"
        :key="index"
        v-if="carteiras[indiceLinha * columns + index - 2]"
        :class="columnSize"
      >
        <carteira-card
          :carteira="carteiras[indiceLinha * columns + index - 2]"
        ></carteira-card>
      </div>
    </div>
  </div>
</template>

<script>
import NovaCarteiraButton from '~/components/NovaCarteiraButton.vue'
import CarteiraCard from '~/components/CarteiraCard.vue'
export default {
  components: {
    NovaCarteiraButton,
    CarteiraCard
  },
  props: {
    carteiras: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      columns: 4
    }
  },
  computed: {
    getRows() {
      return Math.ceil(
        this.carteiras.length % this.columns === 0
          ? this.carteiras.length / this.columns + 1
          : this.carteiras.length / this.columns
      )
    },
    columnSize() {
      return 'col-' + 12 / this.columns
    }
  },
  mounted() {
    this.calculateNumberColumns()
    window.addEventListener('resize', () => {
      this.calculateNumberColumns()
    })
  },
  methods: {
    calculateNumberColumns() {
      if (window.innerWidth >= 1600) {
        this.columns = 4
      } else if (window.innerWidth >= 1300) {
        this.columns = 3
      } else if (window.innerWidth >= 800) {
        this.columns = 2
      } else this.columns = 1
    }
  }
}
</script>

<style scoped></style>
