<template>
  <div id="darf-grid" class="d-flex flex-column">
    <div id="title" @click="toogleDisplayBodyContent()" class="d-flex flex-row">
      <svg
        :class="isActive ? 'caret my-auto ml-2 rotate' : 'caret my-auto ml-2'"
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="8"
        viewBox="0 0 8 8"
      >
        <path d="M0 0v8l4-4-4-4z" transform="translate(2)" />
      </svg>

      <h1 class="m-auto">{{ ano }}</h1>
    </div>
    <div id="body" :class="isActive ? 'display' : ''">
      <div class="container m-auto py-2">
        <div v-for="row in 3" :key="row" class="row">
          <div
            v-for="column in 4"
            :key="column"
            class="col-sm-12 col-md-6 col-lg-3 p-2"
          >
            <darf-card :ano="ano" :mes="4 * row + column - 4"></darf-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AWS from 'aws-sdk'
import DarfCard from '~/components/DarfCard.vue'
export default {
  components: {
    DarfCard
  },
  props: {
    ano: Number()
  },
  data() {
    return {
      isActive: false
    }
  },
  mounted() {
    this.getDarfs()
  },
  methods: {
    toogleDisplayBodyContent() {
      this.isActive = !this.isActive
    },
    getDarfs() {
      const awsCredentials = new AWS.Credentials(
        'AKIARCJ4VGSNMUFFNMGH',
        'TuJuwpiRm1A7t+TJpHRIbX32sjmqmlnOmcSWEIOk'
      )
      AWS.config.update({
        credentials: awsCredentials,
        region: 'eu-west-1'
      })
      const s3 = new AWS.S3()
      const params = {
        Bucket: 'aoricilbucket',
        Prefix: '1'
      }
      s3.listObjectsV2(params, (err, data) => {
        if (err) console.log(err)
        else {
          console.log(data.Contents)
        }
      })
    }
  }
}
</script>

<style scoped>
#title {
  background-color: rgb(55, 53, 56);
  cursor: pointer;
  border-bottom: 1px solid rgba(71, 70, 73, 0.651);
  transition: background-color 0.2s linear;
}

.col {
  padding-left: 0px;
}

h1 {
  color: white;
  transition: color 0.2s linear;
}

#title:hover h1 {
  color: rgb(165, 76, 243);
}

#body {
  overflow: hidden;
  overflow-y: scroll;
  height: 0;
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
  -o-transition: height 0.3s linear;
  -ms-transition: height 0.3s linear;
  transition: height 0.3s ease-out;
}

#body.display {
  height: 820px !important;
}

.caret {
  width: 20px;
  height: 20px;
  transition: transform 0.2s linear;
  fill: white;
}

.rotate {
  transform: rotate(90deg);
}
</style>
