<template>
  <div class="input-wrapper">
    <input
      id="input"
      ref="input"
      :placeholder="getPlaceholder"
      @keyup.enter="enter"
      @keyup.esc="esc"
      @focus="setPlaceHolder"
      @blur="setPlaceHolder"
      v-model="value"
      type="text"
    />
  </div>
</template>

<script>
export default {
  props: {
    placeholder: String()
  },
  data() {
    return {
      value: String()
    }
  },
  computed: {
    getPlaceholder() {
      return this.placeholder
    }
  },
  methods: {
    esc() {
      this.$refs.input.blur()
      this.$emit('esc', true)
    },
    enter() {
      this.$emit('enter', this.value)
    },
    setPlaceHolder(event) {
      if (event.type === 'blur')
        event.target.placeholder = this.placeholder ? this.placeholder : ''
      if (event.type === 'focus') event.target.placeholder = ''
    }
  }
}
</script>

<style scoped>
.input-wrapper {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(57, 35, 86);
}
#input {
  width: 80%;
  height: 100%;
  margin: 0px 30px;
  font-size: 23px;
  font-weight: bold;
  background-color: rgb(57, 35, 86);
  border: none;
  color: white;
}
#input:focus {
  outline: none;
}
</style>
