<template>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <nuxt-link :to="{ path: '/carteiras' }" class="nav-link"
            >Carteiras</nuxt-link
          >
        </li>
        <li class="nav-item active">
          <nuxt-link
            :to="{
              name: `darfs___${$i18n.locale}`,
              params: {
                carteiraId: this.$route.params.id
              }
            }"
            class="nav-link"
            >Darfs</nuxt-link
          >
        </li>
        <li class="nav-item active">
          <nuxt-link
            :to="{
              name: 'operacoes-form___pt-br',
              params: {
                carteira_id: this.$route.params.id
              }
            }"
            class="nav-link"
            >Operações</nuxt-link
          >
        </li>
      </ul>
      <div class="d-flex flex-row justify-content-end">
        <div class="my-auto mr-3">
          <search-bar :placeholder="'pesquisar'"></search-bar>
        </div>
        <notification-button></notification-button>
        <div class="icon icon-gear my-auto mr-3"></div>
        <div class="icon icon-profile my-auto"></div>
      </div>
    </div>
  </nav>
</template>

<script>
import SearchBar from '~/components/SearchBar.vue'
import NotificationButton from '~/components/notification/Button.vue'
export default {
  components: {
    SearchBar,
    NotificationButton
  }
}
</script>

<style scoped>
.navbar {
  background-color: transparent;
}

a {
  color: rgb(57, 35, 86) !important;
  font-weight: bold;
  font-size: 25px;
  transition: color 0.2s linear !important;
}

a:hover {
  color: white !important;
}

.icon-bell,
.icon-profile,
.icon-gear {
  width: 35px;
  height: 35px;
  display: block;
  background-color: rgb(57, 35, 86);
}

.icon-profile {
  border-radius: 50%;
}

.icon-bell:hover,
.icon-profile:hover,
.icon-gear:hover {
  background-color: white;
}
</style>
