<template>
  <div class="form-card my-4 mx-sm-0 mx-md-5 mx-lg-5">
    <h1 class="form-card-header mb-4">Cadastrar Operação</h1>
    <div class="form-card-body">
      <div class="container px-0">
        <div class="row">
          <div class="col-12">
            <form>
              <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                  <search-input
                    :label="'Produto'"
                    :results="acoesDisponiveis"
                    @update-search="procuraAcoesCadastradasNaBolsa"
                    class="label"
                  ></search-input>
                  <!--<label for="ativo" class="col-12 col-form-label">Ativo</label>
                  <b-form-input
                    id="ativo"
                    @keyup="procuraAcoesCadastradasNaBolsa"
                    v-model="operacao.produto.acao.simbolo"
                    list="my-list-id"
                  ></b-form-input>
                  <datalist id="my-list-id">
                    <option v-for="acao in acoes">{{ acao.simbolo }}</option>
                  </datalist>-->
                </div>
                <div class="form-group col-lg-6 col-md-12">
                  <label for="tipoOperacao" class="col-12 col-form-label label"
                    >Operação</label
                  >
                  <select
                    id="tipoOperacao"
                    v-model="operacao.compra"
                    class="form-control"
                  >
                    <option :value="true">Compra</option>
                    <option :value="false">Venda</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                  <label for="quantidade" class="col-12 col-form-label label"
                    >Quantidade</label
                  >
                  <input
                    id="quantidade"
                    v-model="operacao.quantidade"
                    class="form-control"
                    type="number"
                    value="42"
                  />
                </div>
                <div class="form-group col-lg-6 col-md-12">
                  <label for="preco" class="col-12 col-form-label label"
                    >Preço</label
                  >
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                    <input
                      id="preco"
                      v-model="operacao.preco"
                      type="number"
                      min="0"
                      step="0.01"
                      data-number-to-fixed="2"
                      data-number-stepfactor="100"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                  <label for="irpf" class="col-12 col-form-label label">
                    <div class="d-flex flex-row">
                      IRPF Retido na Fonte
                      <span
                        v-b-tooltip.top
                        :title="
                          '0.005% sobre o Valor Total da Operação Swing Trade'
                        "
                        class="icon icon-info my-auto ml-2"
                      ></span>
                    </div>
                  </label>
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                    <input
                      id="irpf"
                      v-model="operacao.irpf"
                      type="number"
                      min="0"
                      step="0.01"
                      data-number-to-fixed="2"
                      data-number-stepfactor="100"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                  <label
                    for="taxaLiquidacaoEmolumentos"
                    class="col-12 col-form-label label"
                  >
                    <div class="d-flex flex-row">
                      Taxa de Liquidação + Emolumentos
                      <div
                        v-b-tooltip.top
                        :title="'0.031302% sobre o Valor Total da Operação'"
                        class="icon icon-info my-auto ml-2"
                      ></div>
                    </div>
                  </label>
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                    <input
                      id="taxaLiquidacaoEmolumentos"
                      v-model="operacao.taxaLiquidacaoEmolumentos"
                      type="number"
                      min="0"
                      step="0.01"
                      data-number-to-fixed="2"
                      data-number-stepfactor="100"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                  <label for="dataOperacao" class="col-12 col-form-label label"
                    >Data da Operação</label
                  >
                  <datepicker
                    v-model="operacao.dataOperacao"
                    :language="languages['ptBR']"
                    format="d MMMM yyyy"
                    class="data-operacao"
                  ></datepicker>
                </div>
                <div class="form-group col-lg-6 col-md-12"></div>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <button
              id="cadastrar-operacao"
              @click.stop.prevent="cadastraOperacao()"
              type="button"
              class="btn"
            >
              Cadastrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Datepicker from 'vuejs-datepicker/dist/vuejs-datepicker.esm.js'
import * as lang from 'vuejs-datepicker/src/locale'
import SearchInput from '~/components/SearchInput.vue'
export default {
  components: {
    Datepicker,
    SearchInput
  },
  data() {
    return {
      languages: lang,
      operacao: {
        produto: {
          acao: {
            simbolo: null,
            nome: null
          },
          carteira: {}
        },
        carteira: {},
        preco: null,
        quantidade: null,
        dataOperacao: null,
        taxaLiquidacaoEmolumentos: null,
        irpf: null,
        tipoDeOperacao: 'SWING_TRADE',
        compra: true
      },
      acoesDisponiveis: [],
      typingTimer: null
    }
  },
  computed: {
    getToday() {
      const today = new Date()
      return (
        today.getFullYear() +
        '-' +
        (today.getMonth() + 1) +
        '-' +
        today.getDate()
      )
    }
  },
  watch: {
    'operacao.quantidade'(newValue, oldValue) {
      this.calculaTaxas()
    },
    'operacao.preco'(newValue, oldValue) {
      this.calculaTaxas()
    },
    'operacao.compra'(newValue, oldValue) {
      this.calculaTaxas()
    }
  },
  mounted() {
    const produto = this.$route.params.produto
    const carteira = this.$route.params.carteira
    this.operacao.dataOperacao = this.getToday
    if (produto) {
      this.operacao.produto = produto
      this.operacao.carteira = produto.carteira
    } else if (carteira) {
      this.operacao.carteira = carteira
      this.operacao.produto.carteira = carteira
    }
  },
  methods: {
    cadastraOperacao() {
      this.cadastraOperacaoNaCarteira(this.operacao).then(() => {
        this.$router.push({
          path: '/carteiras/' + this.$route.params.carteira.id
        })
      })
    },
    procuraAcoesCadastradasNaBolsa(event) {
      clearTimeout(this.typingTimer)
      console.log(event)
      this.typingTimer = setTimeout(() => {
        this.fetchOptions(event)
      }, 100)
    },
    calculaTaxas() {
      this.operacao.taxaLiquidacaoEmolumentos =
        -1 *
        (
          (this.operacao.quantidade * this.operacao.preco * 0.031302) /
          100
        ).toFixed(2)

      this.operacao.irpf = this.operacao.compra
        ? (0).toFixed(2)
        : (
            (-1 * (this.operacao.quantidade * this.operacao.preco * 0.005)) /
            100
          ).toFixed(2)
    },
    fetchOptions(simbolo) {
      this.$axios
        .get(
          'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=' +
            simbolo +
            '&apikey=NRAI89OW9UKU7LJR'
        )
        .then((response) => {
          if (
            response.data.bestMatches &&
            response.data.bestMatches.length !== 0
          ) {
            this.acoesDisponiveis = []

            response.data.bestMatches.forEach((acao) => {
              const simbolo = acao['1. symbol']
              const simboloTokens = simbolo.split('.')
              if (simboloTokens[1] === 'SAO')
                this.acoesDisponiveis.push(
                  acao['2. name'] + ' - ' + simboloTokens[0]
                )
            })
          }
        })
    },
    ...mapActions({
      cadastraOperacaoNaCarteira: 'operacoes/cadastraOperacaoNaCarteira'
    })
  }
}
</script>

<style scoped>
h1 {
  color: white;
}

.form-card {
  background-color: rgb(29, 30, 32);
}

.label {
  color: white;
}

#cadastrar-operacao {
  font-weight: bold;
}
.form-group,
input,
select,
#cadastrar-operacao {
  font-size: 20px;
}
.info-icon {
  height: 15px !important;
  widows: 15px !important;
}

input,
select,
input:focus,
select:focus {
  color: white;
  background-color: rgb(72, 72, 72);
  border: none;
  border-color: transparent;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
}

.input-group-text {
  border: none;
  border-radius: 0px;
  border-color: transparent;
  color: white;
  background-color: rgb(72, 72, 72);
}
</style>
