<template>
  <div class="container">
    <h2>{{ produto.simbolo }}</h2>
  </div>
</template>

<script>
export default {
  props: {
    produto: Object()
  },
  computed: {
    getTotal() {
      return this.produto.precoMedio * this.produto.quantidadeAtual
    }
  }
}
</script>

<style scoped>
.container {
  padding: 0;
}
</style>
