<template>
  <div class="d-flex flex-column justify-content-center resultado-container">
    <div id="title" class="title">
      <div class="text-center">
        <h3>{{ title }}</h3>
      </div>
    </div>
    <div id="resultado" class="resultado">
      <div class="text-center">
        <span>{{ displayResult }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String(),
    resultado: Number(),
    type: String()
  },
  computed: {
    displayResult() {
      return this.type === 'currency'
        ? 'R$ ' + this.resultado.toFixed(2)
        : this.type === 'percentage'
        ? this.resultado.toFixed(2) + ' %'
        : this.resultado.toFixed(2)
    }
  }
}
</script>

<style scoped>
.resultado-container {
  width: 100%;
  background-color: transparent;
}
.title {
  padding: 10px 0px 0px 0px;
  color: rgb(119, 122, 124);
}
.resultado {
  color: rgb(130, 61, 190);
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
</style>
