<template>
  <div id="search-container" class="d-flex flex-column">
    <label for="input">{{ label }}</label>
    <div id="search-input-container" class="d-flex flex-row">
      <input
        id="input"
        ref="input"
        v-model="value"
        :placeholder="placeholder"
        v-on:keyup="changed"
        class="flex-grow-1"
        type="search"
      />
      <svg
        id="search-icon"
        role="presentation"
        class="m-auto"
        viewBox="0 0 32 32"
        width="14"
        height="14"
        fill="none"
        stroke="currentcolor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="3"
      >
        <circle cx="14" cy="14" r="12" />
        <path d="M23 23 L30 30" />
      </svg>
    </div>
    <div
      id="results-container"
      :class="results.length != 0 ? 'display scrollable' : ''"
    >
      <div id="resultado" v-for="(result, index) in results" class="p-2">
        <span :key="index">{{ result }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: String(),
    placeholder: String(),
    results: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      value: ''
    }
  },
  methods: {
    changed(event) {
      console.log(event)
      this.$emit('update-search', event.target.value)
    }
  }
}
</script>

<style scoped>
#search-container {
  position: relative;
}

label {
  height: 44px;
  margin-bottom: 0px;
  padding: 7px 15px 7px 15px;
}

input {
  color: white;
  border: none;
  background-color: rgb(72, 72, 72);
  outline: none;
  height: 44px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input::-webkit-search-cancel-button {
  position: relative;
  right: 5px;
  color: white;
}

#input:placeholder-shown + #search-icon {
  display: inline-block;
}

#search-icon {
  display: none;
  stroke: white;
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

#results-container {
  display: none;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 100%;
  color: white;
  background-color: rgb(58, 59, 59);
}

#resultado {
  color: white;
  transition: background-color 0.2s linear;
}

#resultado:hover {
  background-color: rgb(40, 41, 44);
  cursor: pointer;
}

.display {
  display: inline-block !important;
}

.scrollable {
  overflow-y: scroll;
  max-height: 200px;
}
</style>
