<template>
  <div id="wrapper" class="d-flex flex-column vh-100">
    <nuxt id="body" class="flex-grow-1" />
    <div id="footer">
      <custom-footer></custom-footer>
    </div>
  </div>
</template>

<script>
import customFooter from '~/components/Footer.vue'
export default {
  components: {
    customFooter
  }
}
</script>

<style>
#footer {
  background-color: rgb(32, 32, 32);
  height: 100px;
}
</style>
