<template>
  <div class="d-flex flex-column">
    <darfs-grid
      v-for="index in getQuantidadeAnosDesdeAPrimeiraVenda"
      :ano="getCurrentYear - index + 1"
      :key="index"
    ></darfs-grid>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DarfsGrid from '~/components/DarfsGrid.vue'
export default {
  components: {
    DarfsGrid
  },
  computed: {
    ...mapGetters({
      getPrimeiraOperacaoDeVenda: 'operacoes/getPrimeiraOperacaoDeVenda'
    }),
    getCurrentYear() {
      return new Date().getFullYear()
    },
    getQuantidadeAnosDesdeAPrimeiraVenda() {
      return (
        new Date().getFullYear() -
        new Date(this.getPrimeiraOperacaoDeVenda.dataOperacao).getFullYear() +
        1
      )
    }
  },
  async fetch({ store, route }) {
    const carteiraId = 1
    await store.dispatch('darfs/getDarfsDaCarteira', carteiraId)
    await store.dispatch('operacoes/fetchOperacoesPorCarteira', carteiraId)
  }
}
</script>

<style></style>
