<template>
  <div>
    <b-button @click="getMessage()">Test</b-button>
    <input v-model="roomName" placeholder="ROOM NAME" />
    <b-button @click="createRoom()">Create Room</b-button>
    <b-button @click="joinRoom()">Join Room</b-button>
    <input v-model="message" placeholder="MESSAGE TO SEND" />
    <b-button @click="sendMessage()">Send</b-button>
    <div class="d-flex flex-column" style="color: white;">
      <span v-for="(msg, index) in messages" :key="index"> {{ msg }}</span>
    </div>
  </div>
</template>

<script>
import uuid from 'uuid'
import socket from '~/plugins/socket.io.js'

export default {
  data() {
    return {
      message: String(),
      messages: [],
      uuid: String(),
      roomName: String()
    }
  },
  mounted() {
    if (!this.uuid) this.uuid = uuid()
    console.log(this.uuid)
    this.roomName = this.uuid
    socket.on('notification', (message) => {
      this.message = message.text
    })

    socket.on('teste-message', (message) => {
      console.log(message)
      this.messages.push(message)
    })
  },
  methods: {
    getMessage() {
      socket.emit('notification', {
        text:
          'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'
      })
    },
    createRoom() {
      socket.emit('create-room', {
        room: this.roomName
      })
    },
    joinRoom() {
      socket.emit('join-room', {
        room: this.roomName
      })
    },
    sendMessage() {
      socket.emit('send-message', {
        message: this.message,
        uuid: this.uuid
      })
    }
  }
}
</script>

<style></style>
