<template>
  <div class="d-flex flex-column">
    <div id="carteira-header">
      <main-menu></main-menu>
      <carteira-header
        :resultadosConsolidado="resultadosConsolidado"
      ></carteira-header>
    </div>
    <div
      id="carteira-body"
      class="d-flex flex-column flex-wrap flex-lg-nowrap px-lg-4 mt-4"
    >
      <div class="d-flex flex-column flex-wrap flex-lg-row flex-lg-nowrap mb-4">
        <div
          v-for="(darf, index) in darfs"
          v-html="darf.html"
          :key="index"
        ></div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <alocacao-carteira-chart
              :produtos="produtos"
              class="p-0 flex-grow-1 mb-4 col-12"
            >
            </alocacao-carteira-chart>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto">
            <resultados-chart
              :swingTradeData="resultadosSwingTrade"
              :dayTradeData="resultadosDayTrade"
              class="p-0 col-12"
            ></resultados-chart>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col pr-sm-0 pr-lg-4 pr-lg-4 flex-grow">
            <resultados
              :title="'Result. Swing Trade'"
              :resultados="resultadosSwingTrade"
              :nome="'Swing Trade'"
            ></resultados>
          </div>
          <div class="col">
            <resultados
              :title="'Result. Day Trade'"
              :resultados="resultadosDayTrade"
              :nome="'Day Trade'"
            ></resultados>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col pr-sm-0 flex-grow">
            <produtos :produtos="produtos"></produtos>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import MainMenu from '~/components/MainMenu.vue'
import Produtos from '~/components/Produtos.vue'
import AlocacaoCarteiraChart from '~/components/charts/AlocacaoCarteira.vue'
import ResultadosChart from '~/components/charts/Resultados.vue'
import Resultados from '~/components/Resultados.vue'
import CarteiraHeader from '~/components/CarteiraHeader.vue'
export default {
  components: {
    Produtos,
    AlocacaoCarteiraChart,
    ResultadosChart,
    Resultados,
    CarteiraHeader,
    MainMenu
  },
  computed: {
    renderizaProdutos() {
      return this.$route.fullPath.includes('produtos')
    },
    ...mapState({
      carteiras: (state) => state.carteiras.carteiras,
      produtos: (state) => state.produtos.produtos,
      resultadosSwingTrade: (state) => state.resultados.resultadosSwingTrade,
      resultadosDayTrade: (state) => state.resultados.resultadosDayTrade,
      resultadosConsolidado: (state) => state.resultados.resultadosConsolidado,
      indicesIbovespa: (state) => state.ibovespa.indicesIbovespa,
      cotacoes: (state) => state.cotacoes.cotacoes
    }),
    ...mapGetters({
      getProdutosComCapitalAlocado: 'produtos/getProdutosComCapitalAlocado'
    }),
    carteiraId() {
      return parseInt(this.$route.fullPath.split('/')[2])
    }
  },
  async fetch({ store, route }) {
    const carteiraId = route.params.id
    await store.dispatch('produtos/getProdutosDaCarteira', carteiraId)
    await store.dispatch('carteiras/fetchCarteiras')
    await store.dispatch(
      'resultados/getResultadosSwingTradeDaCarteira',
      carteiraId
    )
    await store.dispatch(
      'resultados/getResultadosDayTradeDaCarteira',
      carteiraId
    )
    await store.dispatch('resultados/getResultadosConsolidado', carteiraId)
  }
}
</script>

<style scoped>
#carteira-header {
  background-image: linear-gradient(
    to bottom right,
    rgb(130, 61, 190),
    rgb(60, 50, 88)
  );
}
</style>
