<template>
  <div id="notification-container">
    <div
      ref="notification-button"
      @click="notifications.length > 0 ? (display = !display) : ''"
      :class="
        'icon icon-bell my-auto mr-3' + (display ? ' icon-bell-active' : '')
      "
    ></div>
    <h1
      id="notification-counter"
      ref="notification-counter"
      v-if="notifications.length > 0"
      :class="display ? 'notification-counter-active' : ''"
    >
      {{ notifications.length }}
    </h1>
    <div
      id="notifications"
      v-closable="{
        exclude: ['notification-button'],
        handler: 'closeNotifications'
      }"
      :class="display ? 'display scrollable' : ''"
    >
      <div id="notifications-body" class="my-2">
        <notification-message
          v-for="(notification, index) in notifications"
          :key="index"
          :title="'Message Title ' + index"
          :message="notification"
        >
        </notification-message>
      </div>
    </div>
  </div>
</template>

<script>
import socket from '~/plugins/socket.io.js'
import NotificationMessage from '~/components/notification/Message.vue'
export default {
  components: {
    NotificationMessage
  },
  data() {
    return {
      notifications: [],
      display: Boolean
    }
  },
  mounted() {
    this.display = false
    socket.on('notification', (message) => {
      this.notifications.push(message.text)
    })
  },
  methods: {
    closeNotifications() {
      this.display = false
    }
  }
}
</script>

<style>
#notification-container {
  position: relative;
}

#notifications {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  z-index: 200;
  left: -400;
  right: 0;
  top: 100%;
  margin-top: 10px;
  color: black;
  background-color: rgb(248, 248, 248);
  box-shadow: 5px 5px 5px 2px #00000071;
  border-radius: 10px;
}

#notification-counter {
  display: inline;
  position: absolute;
  z-index: 300;
  left: 18px;
  right: 0;
  top: -12px;
  color: white;
  border: 1px 1px 1px 1px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 1px 3px #000000;
}

.notification-counter-active {
  color: var(--pink) !important;
}

.icon-bell:hover + #notification-counter {
  color: var(--pink) !important;
}

.display {
  visibility: visible !important;
  opacity: 1 !important;
}

.scrollable {
  overflow-y: scroll;
  max-height: 200px;
  width: 400px;
}

.icon-bell {
  width: 35px;
  height: 35px;
  display: block;
  background-color: rgb(57, 35, 86);
}

.icon-bell:hover {
  background-color: white;
}

.icon-bell-active {
  background-color: white;
}
</style>
