<template>
  <div id="message-container" class="d-flex flex-column p-2">
    <div id="message-header" class="d-flex flex-row justify-content-between">
      <div id="title">{{ title }}</div>
      <div id="date">{{ $moment(date).format('DD MMM YYYY') }}</div>
    </div>
    <div id="message-body" class="d-flex flex-row text-justify">
      <div id="message">{{ message }}</div>
      <button
        id="mark-as-read-button"
        @click="markAsRead()"
        v-b-tooltip.hover.right
        :title="'Marcar como Lido'"
        class="icon icon-mark-read my-auto ml-2"
      ></button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String(),
    message: String(),
    date: Date()
  },
  methods: {
    markAsRead() {}
  }
}
</script>

<style scoped>
#title,
#date {
  font-weight: bold;
}

#message-container {
  width: 100%;
  border-left: 5px solid transparent;
  padding-left: 5px;
}

#message-container:hover {
  background-color: #6f2aa57d;
}

#message-container:hover {
  border-left: 5px solid #84188d;
  cursor: pointer;
}

#message-container:hover .icon-mark-read {
  background-color: white;
}
#message {
  width: 90%;
}

.icon {
  transition: none;
}

.icon-mark-read {
  background-color: var(--pink);
  width: 30px;
  height: 30px;
}

.icon-mark-read:hover {
  background-color: var(--pink) !important;
}
</style>
